USE [torgovayaOrganizaciya]
GO
/****** Object:  Table [dbo].[Orgnizaciya]    Script Date: 20.05.2021 12:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orgnizaciya](
	[id] [int] NOT NULL,
	[nazvaniye] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](20) NOT NULL,
	[name_director] [nvarchar](50) NULL,
	[ferst_name_director] [nvarchar](50) NULL,
	[last_name_director] [nvarchar](50) NULL,
	[gorod] [nvarchar](50) NULL,
	[ulica] [nvarchar](50) NULL,
	[nomer_doma] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orgnizaciya] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavshiki]    Script Date: 20.05.2021 12:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavshiki](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ferst_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NULL,
	[telefon] [nvarchar](20) NOT NULL,
	[gorod] [nvarchar](50) NULL,
	[ulica] [nvarchar](50) NULL,
	[nomer_doma] [nvarchar](50) NULL,
 CONSTRAINT [PK_Postavshiki] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodovcy]    Script Date: 20.05.2021 12:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodovcy](
	[id] [int] NOT NULL,
	[id_tochka] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[ferst_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[telefon] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Prodovcy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tochka]    Script Date: 20.05.2021 12:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tochka](
	[id] [int] NOT NULL,
	[id_organizacia] [int] NOT NULL,
	[gorod] [nvarchar](50) NULL,
	[ulica] [nvarchar](50) NULL,
	[nomer_doma] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tochka] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 20.05.2021 12:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[id] [int] NOT NULL,
	[naimenovaniye] [nvarchar](50) NOT NULL,
	[colichestvo] [nvarchar](50) NOT NULL,
	[cena] [money] NOT NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZakazyPostavshikam]    Script Date: 20.05.2021 12:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZakazyPostavshikam](
	[id] [int] NOT NULL,
	[id_tovar] [int] NULL,
	[id_postavshik] [int] NOT NULL,
	[id_organizacia] [int] NOT NULL,
	[colichestvo] [nvarchar](50) NULL,
 CONSTRAINT [PK_ZakazyPostavshikam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Orgnizaciya] ([id], [nazvaniye], [telefon], [name_director], [ferst_name_director], [last_name_director], [gorod], [ulica], [nomer_doma]) VALUES (1, N'Solot', N'89289125887', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orgnizaciya] ([id], [nazvaniye], [telefon], [name_director], [ferst_name_director], [last_name_director], [gorod], [ulica], [nomer_doma]) VALUES (2, N'Krilew', N'89293564321', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Postavshiki] ([id], [name], [ferst_name], [last_name], [telefon], [gorod], [ulica], [nomer_doma]) VALUES (1, N'Igor', N'Ptushkin', N'Ivanovich', N'89321456789', NULL, NULL, NULL)
INSERT [dbo].[Postavshiki] ([id], [name], [ferst_name], [last_name], [telefon], [gorod], [ulica], [nomer_doma]) VALUES (2, N'Amir', N'Sahanov', N'Aslanovich', N'89654321234', NULL, NULL, NULL)
GO
INSERT [dbo].[Prodovcy] ([id], [id_tochka], [name], [ferst_name], [last_name], [telefon]) VALUES (1, 1, N'Oleg', N'Foster', N'Victorovich', N'89285764321')
INSERT [dbo].[Prodovcy] ([id], [id_tochka], [name], [ferst_name], [last_name], [telefon]) VALUES (2, 2, N'Maxsim', N'Solovev', N'Andreevich', N'89361234567')
GO
INSERT [dbo].[Tochka] ([id], [id_organizacia], [gorod], [ulica], [nomer_doma]) VALUES (1, 1, NULL, NULL, NULL)
INSERT [dbo].[Tochka] ([id], [id_organizacia], [gorod], [ulica], [nomer_doma]) VALUES (2, 2, NULL, NULL, NULL)
GO
INSERT [dbo].[Tovar] ([id], [naimenovaniye], [colichestvo], [cena]) VALUES (1, N'Izdeliye1', N'3', 1500.0000)
INSERT [dbo].[Tovar] ([id], [naimenovaniye], [colichestvo], [cena]) VALUES (2, N'Izdeliye2', N'8', 2000.0000)
GO
INSERT [dbo].[ZakazyPostavshikam] ([id], [id_tovar], [id_postavshik], [id_organizacia], [colichestvo]) VALUES (1, NULL, 1, 1, NULL)
INSERT [dbo].[ZakazyPostavshikam] ([id], [id_tovar], [id_postavshik], [id_organizacia], [colichestvo]) VALUES (2, NULL, 2, 2, NULL)
GO
ALTER TABLE [dbo].[Prodovcy]  WITH CHECK ADD  CONSTRAINT [FK_Prodovcy_Tochka] FOREIGN KEY([id_tochka])
REFERENCES [dbo].[Tochka] ([id])
GO
ALTER TABLE [dbo].[Prodovcy] CHECK CONSTRAINT [FK_Prodovcy_Tochka]
GO
ALTER TABLE [dbo].[Tochka]  WITH CHECK ADD  CONSTRAINT [FK_Tochka_Orgnizaciya] FOREIGN KEY([id_organizacia])
REFERENCES [dbo].[Orgnizaciya] ([id])
GO
ALTER TABLE [dbo].[Tochka] CHECK CONSTRAINT [FK_Tochka_Orgnizaciya]
GO
ALTER TABLE [dbo].[ZakazyPostavshikam]  WITH CHECK ADD  CONSTRAINT [FK_ZakazyPostavshikam_Orgnizaciya] FOREIGN KEY([id_organizacia])
REFERENCES [dbo].[Orgnizaciya] ([id])
GO
ALTER TABLE [dbo].[ZakazyPostavshikam] CHECK CONSTRAINT [FK_ZakazyPostavshikam_Orgnizaciya]
GO
ALTER TABLE [dbo].[ZakazyPostavshikam]  WITH CHECK ADD  CONSTRAINT [FK_ZakazyPostavshikam_Postavshiki1] FOREIGN KEY([id_postavshik])
REFERENCES [dbo].[Postavshiki] ([id])
GO
ALTER TABLE [dbo].[ZakazyPostavshikam] CHECK CONSTRAINT [FK_ZakazyPostavshikam_Postavshiki1]
GO
ALTER TABLE [dbo].[ZakazyPostavshikam]  WITH CHECK ADD  CONSTRAINT [FK_ZakazyPostavshikam_Tovar] FOREIGN KEY([id_tovar])
REFERENCES [dbo].[Tovar] ([id])
GO
ALTER TABLE [dbo].[ZakazyPostavshikam] CHECK CONSTRAINT [FK_ZakazyPostavshikam_Tovar]
GO
